.build-result
/lnrpc
.buildcmd
/.direnv
/tags
*.o
/config.h
/configurator.out.dSYM
/configurator
/ctest
/target
TODO.bak
*.a
node_modules
package-lock.json
/libsodium*.tar.gz
/deps/libsodium
/deps/secp256k1
examples/lnsocket.js
examples/lnsocket.wasm
examples/websockets_big.js
examples/websockets_big.html
rust/bindings.rs
Cargo.lock

*.swp
